
/* The code below centers the text of all h1's on the page. */
body {
    background-color:#9dd1e4;
}
h1 {
    text-align:center;
    margin-left: 50px;
    margin-right: 50px;
    color: #00395C;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:700px;
  border-radius: 40px;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
    margin-left: 50px;
    margin-right: 50px;
    color: #00395C;
}

h3 {
    text-align:center;
    margin-left: 50px;
    margin-right: 50px;
    color: #00395C;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 5px rgb(136 178 145) solid;
    margin:5px;
}

p {
    text-align:justify;
    margin-left: 50px;
    margin-right: 50px;
    color: #00395C;
}

.box {
    width: 500px;
}

ul {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    color: #00395C;
}

.myth {
    font-weight: bold;
    color: #FF0000;
}

.fact {
    font-weight: bold;
    color: #008000;
}
.btn-resource {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00395C;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-resource:hover {
    background-color: #005A9C;
    transform: translateY(-2px);
}